<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Playlist</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active">Playlist</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-8">
                <div class="player-div">
                    <h1>{{ video_title }}</h1>
                    <div class="player" #player_container></div>
                    <p [innerHTML]="video_description"></p>
                </div>
            </div>
            <div class="col-4">
                <div class="card" *ngFor="let video of videos | async">
                    <div class="card-header">
                        <h3 class="card-title">{{video.title}}</h3>
                    </div>
                    <div class="card-body">
                        <img class="thumb-img" (click)="loadVideo(video)" src="{{ video.thumbnail_medium }}" />
                        <!-- <iframe [src]="video.url | vimeoUrl" width="500" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>