<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            Test App
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Register</p>

                <form method="post" #registerForm = "ngForm" (ngSubmit)="onSubmit(registerForm)">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Name" name="name" ngModel required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="email" ngModel required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password" ngModel required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <div class="col-8">
                            <a routerLink="/login" class="pull-right">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>